/* Esercizio 1 */
.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: background-color 2.5s linear ;
}
.ex-1-square:hover {
  background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 4s ease-out ;
}
.ex-2-square:active {
  width: 600px;
}

/* Esercizio 3 */
.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: border-radius 2s linear  ;
}
.ex-3-square:hover {
  border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  animation: disappear 3s linear -1s infinite alternate
}
@keyframes disappear {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* Esercizio 5 */
.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
}
.ex-5-square:hover {
  animation: bigger 2s linear  infinite normal
}
@keyframes bigger {
  from {width: 60px; height: 60px;}
  to   {width: 120px; height: 120px;}
}
.ex-5-square:active {
  animation: smaller 3s linear alternate infinite
}
@keyframes smaller {
  0% {width: 60px; height: 60px;}
  100%   {width: 30px; height: 30px;}
}

/* Esercizio 6-7-8*/
.ex-6-img, .ex-7-img, .ex-8-img {
  width: 500px;
}
/* Eservizio 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img{
  animation: filters-one 1.5s linear -2s infinite alternate-reverse;
}
@keyframes filters-one {
  from {filter: blur(0px) invert(0);}
  to {filter: blur(5px) invert(100%);}
}

/* Esercizio 8 */
.ex-8-img {
  animation: filters-two 3s linear 0.5s infinite alternate;
}
@keyframes filters-two {
  from {filter: grayscale(0) opacity(1);border-radius: 0%;}
  to {filter: grayscale(1) opacity(0.3); border-radius:25%;}
}

/* Esercizio 9 */
.ex-9-img {
  margin: 50px 100px;
  width: 400px;
  animation: filters-three 4s ease-in-out -2s infinite alternate;
}
@keyframes filters-three {
  0% {filter: hue-rotate(70deg) brightness(0.3);border-radius: 0%; width:400px}
 100% {filter: hue-rotate(360deg) brightness(2); border-radius:20%; width:200px}
}

/* Esrcizio 10 */
.ex-10-icon {
  font-size: 60px;
  animation: rotation-full 3s linear infinite normal;
}
@keyframes rotation-full {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* Esercizio 11 */
.ex-11-icon {
  font-size: 60px;
}
.ex-11-icon:hover {
  animation: partial-rotation 2s linear infinite normal;
}
@keyframes partial-rotation {
  0% {transform: rotate(0deg)}
  75% {transform: rotate(270deg)}
  100% {transform: rotate(0deg)}
}

/* Esercizio 12 */
.ex-12-button, .ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
/* Esercizio 12 */
.ex-12-top-white {
  animation: move-top-left 3s linear infinite alternate;
}
@keyframes move-top-left {
  0%   {left: 10%;}
  100% {left: 50%;}
}
.ex-12-bottom-white {
  animation: move-bottom-right 3s linear infinite alternate;
}
@keyframes move-bottom-right {
  0%   {right: 20%;}
  100% {right: 60%;}
}
/* Eservizio 13 */
.ex-13-top-white {
  animation: top-full-rotation 3s linear infinite normal;
}
@keyframes top-full-rotation {
  0%    {left: 10%;  top: -10px;}
  20%   {left: 80%;  top: -10px;}
  40%   {left: 80%;  top: 50px;}
  60%   {left: -10%; top: 50px;}
  80%   {left: -10%; top: -10px;}
  100%  {left: 10%;  top: -10px;}
}
.ex-13-bottom-white {
  animation: bottom-full-rotation 3s linear infinite normal;
}
@keyframes bottom-full-rotation {
  0%    {right: 20%;  bottom: -10px;}
  20%   {right: 80%;  bottom: -10px;}
  40%   {right: 80%;  bottom: 50px;}
  60%   {right: -10%; bottom: 50px;}
  80%   {right: -10%; bottom: -10px;}
  100%  {right: 20%;  bottom: -10px;}
}
